<div class="page-header-top headerUser">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="logoCustom row page-logo">
            <div class="col-md-4 col-sm-4 thumbnailCustom">
                <img class="imgCustom" src="~/Content/img/openbooklogo.png" />
            </div>
            <div class="col-md-4 col-sm-4">
                <h1 class="title"> Book Store</h1>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="#" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>