@{
    ViewBag.Title = "Index";
}

<div class="col-md-6 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light" id="partialBook"></div>
    <!-- END PORTLET-->
    <!-- BEGIN PORTLET-->
    <div class="portlet light " id="partialAuthor"></div>
    <!-- END PORTLET-->
</div>
<div class="col-md-6 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light " id="partialCompany"></div>
    <!-- END PORTLET-->
    <!-- BEGIN PORTLET-->
    <div class="portlet light" id="partialLanguage" data-search=""></div>
    <!-- END PORTLET-->
</div>
<script src="~/Scripts/specifc/SystemDashBoard.js" type="text/javascript"></script>
